<!-- logback test configuration file -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="SERVICE" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="DAO" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="FACTORY" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="WORKERS" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="CLIENTS" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="PROCESSORS" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="kafka" level="ERROR" />
    <logger name="org.apache" level="ERROR" />
    <logger name="com.flipkart" level="ALL" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>