<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%n%date [%thread] %highlight(%-5level) %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="WORKERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-workers.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-workers.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <appender name="CLIENTS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-clients.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-clients.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <appender name="PROCESSORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-processors.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-processors.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <appender name="FACTORY" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-factory.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-factory.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <appender name="DAO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-dao.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-dao.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/var/log/flipkart/pf/fk-pf-connekt/busybees-service.log</file>
    <encoder>
      <pattern>%n%date %highlight(%level) [%thread] %logger{10} [%file:%line] %msg%n</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/var/log/flipkart/pf/fk-pf-connekt/busybees-service.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>5</maxIndex>
    </rollingPolicy>
  </appender>

  <logger name="WORKERS" additivity="false">
    <appender-ref ref="WORKERS"/>
  </logger>
  <logger name="CLIENTS" level="DEBUG" additivity="false">
    <appender-ref ref="CLIENTS"/>
  </logger>
  <logger name="PROCESSORS" level="DEBUG" additivity="false">
    <appender-ref ref="PROCESSORS"/>
  </logger>
  <logger name="SERVICE" level="DEBUG" additivity="false">
    <appender-ref ref="SERVICE"/>
  </logger>
  <logger name="DAO" additivity="false">
    <appender-ref ref="DAO"/>
  </logger>

  <logger name="FACTORY" additivity="false">
    <appender-ref ref="FACTORY"/>
  </logger>


  <logger name="kafka" level="ERROR"/>
  <logger name="org.apache" level="ERROR"/>
  <logger name="com.couchbase.client" level="ERROR"/>

  <logger name="com.flipkart" level="ALL"/>
  <logger name="com.flipkart.kloud.config" level="ERROR"/>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
