<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="kafka" level="ERROR"/>
    <logger name="org.apache" level="ERROR"/>
    <logger name="com.couchbase.client" level="ERROR"/>
    <logger name="com.flipkart" level="ALL"  />
    <logger name="com.flipkart.kloud.config" level="ERROR"/>


    <root level="ALL" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>